body {
	background: #CCFFCC;
}

header {
    text-align: center;
}

/* ------- table contents --------- */
th, td, tr {
    border: solid black 0.1rem
}

td {
    width: 9rem;
    text-align: center;
    background-color: white;
}

th {
    background-color: darkgreen;
    color: white;
}

#baseContainer {
    min-height: 750px;
}
/****************************************************************/
/************************** index container *********************/

#indexContainer {
    margin-left: 30%;
}

#indexContainer h1{
    margin-left: 15%;
}

/****************************************************************/
/************************** login container *********************/

.loginContainer {
    margin-left: 38%;
}

.loginContainer h1{
    margin-left: 6%;
}

.loginContainer #password {
    padding-right: 4px;
}

.loginContainer input[type=submit] {
    margin-left: 8rem;
}

/****************************************************************/
/************************** adminLogin container *********************/

#adminIndexContainer table {
    margin-left: 11%;
}

#adminIndexContainer h1{
     margin-left: 43%;
 }

#adminIndexContainer h2{
    margin-left: 44%;
}

#adminIndexContainer th, #adminIndexContainer td, #adminIndexContainer input[type=text] {
    width: 7.75rem;
}

.studentCRUDButton input[type=button] {
    width: 7.75rem;
}